
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2015, 10:39:49 PM
    Author     : Administrator
*/

.issue-title {
    font-size: 18px;
}

.progress-small {
    height: 10px;
    margin-bottom: 0px;
}

.progress-medium {
    height: 15px;
    margin-bottom: 5px;
}

.label-big {
    font-size: 15pt;
}

.panel span{
    margin-left: 5px;
    margin-right: 5px;
}

.issue-status {
    float: left;
    text-align: center;
    background-color: rgb(92, 184, 92);
    color: #fff;
    border-radius: 15px;
    padding: 0 7px;
    margin: 4px 7px;
}
.issue-status.status-close {
    background-color: rgb(184, 50, 38);
}

.issue-main {
    width: 90%;
    float: left;
}

.issue-comment {
    width: 5%;
    float: right;
}

.issue-status i{
    color: green; 
    font-size: 12pt;
}

.icon-search {
    position: absolute; 
    z-index: 10;
    top: 10px; 
    left: 85px;
    color: #aaa;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.label-big {
    padding: 10px;
    display: inline-block;
    font-size: 13px;
}

.input-text {
    padding: 5px;
    margin-left: 10px;
}

#create-label {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.font-small {
    font-size: 14px;
}
.selected {
    font-weight: bold;
}

#create-milstone {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

#create-milstone input,textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#demo-color {
    border: 0px;
    height: 35px;
    margin-left: 10px;
    border-radius: 3px;
}